
<!-- navbar-light  text-info -->
<nav class="navbar navbar-expand-lg navbar-light  text-info">
  <a class="navbar-brand" href="#">{{'logo' | translate}} <i class="fab fa-angular"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home" >{{'Home' |translate }} <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="features" >{{'Features' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="pricing" >{{'Pricing' | translate}}</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
         
         {{'Choose_Language' | translate}}
       
        </a>
        <div    class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <option (click)="translate.use('en')"  class="dropdown-item" >  {{'English' | translate}}</option>
          <option (click)="translate.use('ar')"  class="dropdown-item"  >   {{'Arabic' | translate}}</option>
         
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="content">
  <h1>
    {{ 'angular'| translate}}
  </h1>


<router-outlet></router-outlet>

